// src/App.scss
// Vos styles SCSS ici

// reset css
* {
    // margin: 0;
    // padding: 0;
}

.li-card {
    padding: 5px 10px;  
    
}

// @font-face {
//     font-family: 'recons';
//     src: url('/public/fonts/Recons.otf') format('opentype');
//     font-weight: normal;
//     font-style: normal;
// }

body {
    margin: 0;
    padding: 0;
    // padding-top: 50px;
    // font-family: 'recons';
    font-size: 1.2rem;
    color: #fff;
    //set image background
    background-image: url('~@/assets/back.png') ;   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}




